
<section class="user-resource">
    <div style="margin-left: 35%; margin-top: 20%;">
     <button class="customize-button" {{action 'addFormInfo'}}>+Add user Details</button> <br> <br>
     <button class="customize-button" {{action 'viewFormInfo'}}> View user Details</button>   
     </div>
</section>

{{outlet}}