


  <section class="container">

       <div class="logger">
           <img src="/assets/images/user.png" class="logger-item align-item">
            <img src="/assets/images/Admin.png" class="logger-item align-item"> <br> <br>
           
           <button style="margin-right: 17%" {{action 'userLogin'}}>User</button>
           <button {{action 'adminLogin'}}>Admin</button>  
       </div>
            
</section> 

{{outlet}}